# Python bytecode
__pycache__/
*.py[cod]

# Node modules
node_modules/

# Logs
logs/
/battery_logger.log

# IDE/editor settings
.vscode/

# Ignore all generated detection images
src/wildberryeyezero/frontend/images/*
src/wildberryeyezero/backend/models/*

# Ignore analysis data
analysis/data/*

# Ignore extracted IMX500 model artifacts
backend/models/*.onnx
backend/models/*.pbtxt
backend/models/*.json
backend/models/*.xml
backend/models/*.zip

# Track only the .rpk model package
!backend/models/*.rpk

# Ignore python virtual environmment files
.venv
venv/